.gallery{
    margin:  0 auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
}


.galleryContainer > h6{
    top: 100px;
    position: relative;
    font-size: 100px;
    color: rgb(3, 161, 24);
    padding: 100px auto; 
}

h6 > span{
    color: rgb(189, 73, 7);
}

.images{
    padding: 5% 10%;
}


.imageWrapper{
    margin: 15% auto;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr ;
    align-items: center;
}

.imageWrapper > div{
    background-color: #6a1575;
    margin: 3%;
}

.imageWrapper >div:nth-child(odd){
    background-color: #99cf97;

}
.imageWrapper > img{
    display: block;
    width: 90%;
    max-width: 100%;
    height: 90%;
    max-height: 100%;
    object-fit: cover;
    margin: 10% auto ;
    transition: all 0.2s linear;   
    border-radius: 5%;

}
.imageWrapper > img:hover{
    transform: scale(1.2);
}


@media screen and (max-width :768px ) { 
    .imageWrapper{
        display: block;
        margin: 2% auto;
    }

    .imageWrapper > img{
        display: block;
        width: 70%;
        max-width: 100%;
        height: 70%;
        max-height: 100%;
        object-fit: cover;
        margin: 10% auto ;
        transition: all 0.2s linear;
        
    
    }
    .galleryContainer > h6{
        top: 50px;
        font-size: 80px;
    }
}

